In [1]:
import pandas as pd
import numpy as np
import time
from datetime import timedelta,datetime
from data_generation import data_split
from features_generation import calculate_deviations

In [3]:
df1=pd.read_pickle('ncrptd.pkl')
df1.reset_index(inplace=True)

df=pd.DataFrame(columns=['well_id', 'param_id', 'tm_time','tm_value'])
df['well_id']=df1['wd']+2024
df['param_id']=df1['pd']+1703
df['tm_time']=df1['tt']+timedelta(days=10000)
df['tm_value']=df1['tv']/1.1

df

             well_id  param_id             tm_time  tm_value
0         6110299100       220 2024-04-01 13:14:08       0.0
1         6110299100       220 2024-04-01 13:14:38       0.0
2         6110299100       220 2024-04-01 13:15:08       0.0
3         6110299100       220 2024-04-01 13:15:38       0.0
4         6110299100       220 2024-04-01 13:16:08       0.0
...              ...       ...                 ...       ...
15497320  2860194100       401 2024-04-01 23:58:03      35.7
15497321  2860194100       401 2024-04-01 23:58:33      35.1
15497322  2860194100       401 2024-04-01 23:59:03       0.0
15497323  2860194100       401 2024-04-01 23:59:04       0.0
15497324  2860194100       401 2024-04-01 23:59:33       0.0

[15497325 rows x 4 columns]

In [5]:
list_of_dfs = data_split(df,well_id_int=6110299100,param_id_list=[188,200],package_size=5000, leftcut=0)

C:\Users\Pro10\Desktop\data_generation.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_index(inplace=True)

In [7]:
list_of_dfs

[param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 01:23:18  30.0   0.000000
 2024-04-01 01:23:19  30.0   0.000000
 2024-04-01 01:23:20  30.0   0.000000
 2024-04-01 01:23:21  30.0   0.000000
 2024-04-01 01:23:22  30.0   0.000000

 [5000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 02:46:38  32.0  74.500000
 2024-04-01 02:46:39  32.0  74.533333
 2024-04-01 02:46:40  32.0  74.566667
 2024-04-01 02:46:41  32.0  74.600000
 2024-04-01 02:46:42  32.0  74.633333

 [10000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 04:09:58  29.0   0.000000
 2024-04-01 04:09:59  29.0   0.000000
 2024-04-01 04:10:00  29.0   0.000000
 2024-04-01 04:10:01  29.0   0.000000
 2024-04-01 04:10:02  29.0   0.000000

 [15000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 05:33:18  31.0   0.000000
 2024-04-01 05:33:19  31.0   0.000000
 2024-04-01 05:33:20  31.0   0.000000
 2024-04-01 05:33:21  31.0   0.000000
 2024-04-01 05:33:22  31.0   0.000000

 [20000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 06:56:38  30.0  75.000000
 2024-04-01 06:56:39  30.0  75.000000
 2024-04-01 06:56:40  30.0  75.000000
 2024-04-01 06:56:41  30.0  75.000000
 2024-04-01 06:56:42  30.0  75.000000

 [25000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 08:19:58  30.0   0.000000
 2024-04-01 08:19:59  30.0   0.000000
 2024-04-01 08:20:00  30.0   0.000000
 2024-04-01 08:20:01  30.0   0.000000
 2024-04-01 08:20:02  30.0   0.000000

 [30000 rows x 2 columns],
 param_id                   188        200
 tm_time
 2024-04-01 00:00:03  30.000000  74.000000
 2024-04-01 00:00:04  30.000000  74.033333
 2024-04-01 00:00:05  30.000000  74.066667
 2024-04-01 00:00:06  30.000000  74.100000
 2024-04-01 00:00:07  30.000000  74.133333
 ...                        ...        ...
 2024-04-01 09:43:18  31.400000   0.000000
 2024-04-01 09:43:19  31.433333   0.000000
 2024-04-01 09:43:20  31.466667   0.000000
 2024-04-01 09:43:21  31.500000   0.000000
 2024-04-01 09:43:22  31.533333   0.000000

 [35000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 11:06:38  29.0   0.000000
 2024-04-01 11:06:39  29.0   0.000000
 2024-04-01 11:06:40  29.0   0.000000
 2024-04-01 11:06:41  29.0   0.000000
 2024-04-01 11:06:42  29.0   0.000000

 [40000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 12:29:58  31.0   0.000000
 2024-04-01 12:29:59  31.0   0.000000
 2024-04-01 12:30:00  31.0   0.000000
 2024-04-01 12:30:01  31.0   0.000000
 2024-04-01 12:30:02  31.0   0.000000

 [45000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 13:53:18  31.0  75.000000
 2024-04-01 13:53:19  31.0  75.000000
 2024-04-01 13:53:20  31.0  75.000000
 2024-04-01 13:53:21  31.0  75.000000
 2024-04-01 13:53:22  31.0  75.000000

 [50000 rows x 2 columns],
 param_id                   188        200
 tm_time
 2024-04-01 00:00:03  30.000000  74.000000
 2024-04-01 00:00:04  30.000000  74.033333
 2024-04-01 00:00:05  30.000000  74.066667
 2024-04-01 00:00:06  30.000000  74.100000
 2024-04-01 00:00:07  30.000000  74.133333
 ...                        ...        ...
 2024-04-01 15:16:38  29.366667   0.000000
 2024-04-01 15:16:39  29.400000   0.000000
 2024-04-01 15:16:40  29.433333   0.000000
 2024-04-01 15:16:41  29.466667   0.000000
 2024-04-01 15:16:42  29.500000   0.000000

 [55000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 16:39:58  31.0   0.000000
 2024-04-01 16:39:59  31.0   0.000000
 2024-04-01 16:40:00  31.0   0.000000
 2024-04-01 16:40:01  31.0   0.000000
 2024-04-01 16:40:02  31.0   0.000000

 [60000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 18:03:18  30.0  76.000000
 2024-04-01 18:03:19  30.0  76.000000
 2024-04-01 18:03:20  30.0  76.000000
 2024-04-01 18:03:21  30.0  76.000000
 2024-04-01 18:03:22  30.0  76.000000

 [65000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 19:26:38  30.0   0.000000
 2024-04-01 19:26:39  30.0   0.000000
 2024-04-01 19:26:40  30.0   0.000000
 2024-04-01 19:26:41  30.0   0.000000
 2024-04-01 19:26:42  30.0   0.000000

 [70000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 20:49:58  31.0  75.000000
 2024-04-01 20:49:59  31.0  75.000000
 2024-04-01 20:50:00  31.0  75.000000
 2024-04-01 20:50:01  31.0  75.000000
 2024-04-01 20:50:02  31.0  75.000000

 [75000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 22:13:18  29.0   0.000000
 2024-04-01 22:13:19  29.0   0.000000
 2024-04-01 22:13:20  29.0   0.000000
 2024-04-01 22:13:21  29.0   0.000000
 2024-04-01 22:13:22  29.0   0.000000

 [80000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 23:36:38  31.0   0.000000
 2024-04-01 23:36:39  31.0   0.000000
 2024-04-01 23:36:40  31.0   0.000000
 2024-04-01 23:36:41  31.0   0.000000
 2024-04-01 23:36:42  31.0   0.000000

 [85000 rows x 2 columns],
 param_id              188        200
 tm_time
 2024-04-01 00:00:03  30.0  74.000000
 2024-04-01 00:00:04  30.0  74.033333
 2024-04-01 00:00:05  30.0  74.066667
 2024-04-01 00:00:06  30.0  74.100000
 2024-04-01 00:00:07  30.0  74.133333
 ...                   ...        ...
 2024-04-01 23:59:36  30.0  74.000000
 2024-04-01 23:59:37  30.0  74.000000
 2024-04-01 23:59:38  30.0  74.000000
 2024-04-01 23:59:39  30.0  74.000000
 2024-04-01 23:59:40  30.0  74.000000

 [86378 rows x 2 columns]]

In [9]:
result_df = calculate_deviations(list_of_dfs, dict_values = {188: [50,200], 200: [20, 55]})

In [11]:
result_df[-1][0]

,188_Value,188_Deviation from Mean,188_Deviation from Weighted Mean,188_Deviation from Q1,188_Deviation from Median,188_Deviation from Q3,188_Deviation from Previous Value,188_Deviation from Set Min Value,188_Deviation from Set Max Value,200_Value,200_Deviation from Mean,200_Deviation from Weighted Mean,200_Deviation from Q1,200_Deviation from Median,200_Deviation from Q3,200_Deviation from Previous Value,200_Deviation from Set Min Value,200_Deviation from Set Max Value
tm_time,,,,,,,,,,,,,,,,,,
2024-04-01 00:00:03,30.0,-0.338819,-0.373116,0.0,0.0,-1.0,NaN,-20.0,-170.0,74.000000,49.312429,48.997376,74.000000,74.000000,-0.166667,NaN,54.000000,19.000000
2024-04-01 00:00:04,30.0,-0.338819,-0.373116,0.0,0.0,-1.0,0.0,-20.0,-170.0,74.033333,49.345762,49.030709,74.033333,74.033333,-0.133333,0.033333,54.033333,19.033333
2024-04-01 00:00:05,30.0,-0.338819,-0.373116,0.0,0.0,-1.0,0.0,-20.0,-170.0,74.066667,49.379096,49.064042,74.066667,74.066667,-0.100000,0.033333,54.066667,19.066667
2024-04-01 00:00:06,30.0,-0.338819,-0.373116,0.0,0.0,-1.0,0.0,-20.0,-170.0,74.100000,49.412429,49.097376,74.100000,74.100000,-0.066667,0.033333,54.100000,19.100000
2024-04-01 00:00:07,30.0,-0.338819,-0.373116,0.0,0.0,-1.0,0.0,-20.0,-170.0,74.133333,49.445762,49.130709,74.133333,74.133333,-0.033333,0.033333,54.133333,19.133333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-01 23:59:36,30.0,-0.338819,-0.373116,0.0,0.0,-1.0,0.0,-20.0,-170.0,74.000000,49.312429,48.997376,74.000000,74.000000,-0.166667,0.000000,54.000000,19.000000
2024-04-01 23:59:37,30.0,-0.338819,-0.373116,0.0,0.0,-1.0,0.0,-20.0,-170.0,74.000000,49.312429,48.997376,74.000000,74.000000,-0.166667,0.000000,54.000000,19.000000
2024-04-01 23:59:38,30.0,-0.338819,-0.373116,0.0,0.0,-1.0,0.0,-20.0,-170.0,74.000000,49.312429,48.997376,74.000000,74.000000,-0.166667,0.000000,54.000000,19.000000
2024-04-01 23:59:39,30.0,-0.338819,-0.373116,0.0,0.0,-1.0,0.0,-20.0,-170.0,74.000000,49.312429,48.997376,74.000000,74.000000,-0.166667,0.000000,54.000000,19.000000
2024-04-01 23:59:40,30.0,-0.338819,-0.373116,0.0,0.0,-1.0,0.0,-20.0,-170.0,74.000000,49.312429,48.997376,74.000000,74.000000,-0.166667,0.000000,54.000000,19.000000

In [13]:
result_df[-1][1]

{188: {'mean': 30.33881891222302,
  'weighted_mean': 30.373115687671948,
  'Q1': 29.999999999999996,
  'median': 29.999999999999996,
  'Q3': 31.0,
  'std': 0.8884281126652277,
  'set_min': 50,
  'set_max': 200},
 200: {'mean': 24.687570909259303,
  'weighted_mean': 25.00262417590052,
  'Q1': 0.0,
  'median': 0.0,
  'Q3': 74.16666666666667,
  'std': 34.95802376631494,
  'set_min': 20,
  'set_max': 55}}